<!DOCTYPE html>
<html>
    {{> head}}
    <body>
        <h1>{{title}}</h1>
        <ul class="episode-list">
{{#episodes}}
            <li class="state-{{state}}">{{name}}</li>
{{/episodes}}
        </ul>
    </body>
</html>
